@import "normalize.css";
@import "_fonts.css";
@import 'element-plus/dist/index.css';
@import 'element-plus/theme-chalk/dark/css-vars.css';
@import "_variables.css";
@import "_typography.css";

*,
*::before,
*::after {
    margin: 0;
    box-sizing: border-box;
    font-weight: normal;
    color: var(--app-text-primary-color);
}

body {
    font-family: var(--font-family), sans-serif;
    background-color: var(--app-bg-secondary-color);
}
